
<section class="view-map">
  <div class="map-container"></div>

  <div>
  <ul class="contextmenu dropdown-menu" role="menu">
    <li><a data-func="loadResultsWithinRadius" tabindex="-1" href="#"><%= i18n('map.contextmenu.load_results_in_radius') %></a></li>
  </ul>
  </div>

  <div>
  <ul class="contextmenuvertex dropdown-menu" role="menu">
    <li><a class="has-shortcut has-subtitle" data-func="removeItem" tabindex="-1" href="#"><%= i18n('map.contextmenu.remove') %>
      <span class="shortcut">delete</span>
      <span class="subtitle"><%= i18n('map.contextmenu.remove.subtitle') %></span>
    </a></li>
  </ul>
  </div>

  <div class="controls"></div>
</section>

