<section class="file-select">
  <input @change="handleFileChange" style="display: inline" type="file" placeholder="Load Map File" >
  <button @click="sendFileToServer()"">
    Upload File
  </button>
  <!-- style="border: solid 1px red"> -->
  <!-- <input type="file" @change="handleFileChange" placeholder="Load Map File" /> -->
</section>