.file-select > .select-button {
    padding: 1rem;
  
    color: white;
    background-color: #2EA169;
  
    border-radius: .3rem;
  
    text-align: center;
    font-weight: bold;
}
  
/* Don't forget to hide the original file input! */
.file-select > input[type="file"] {
    display: none;
}