<template>
  <div class="home">
    <h1>{{ msg }}</h1>
    <h3>Load Mapping File</h3>
    kks
    <file-select>lala</file-select>
    <ul>
      <li>pop</li>
    </ul>
  </div>
</template>

<script>

import Vue from 'vue';
import FileSelect from './file-select/index.vue'

Vue.component('file-select', FileSelect);

export default {
  name: 'Home',
  components: {
    FileSelect
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
